
.wrapper {
    position: relative;
    width: 350px;
    height: 170px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 20px;
  margin-left: 0px!important;
  margin-top: 0px!important;

  }
  
  .signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width: 350px;
    height: 170px;
    background-color: white;
    border: 1px solid black;
  }


html, body{
    margin:0 auto;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat';
}

  /* Buttons */

  .trigger-hover {
    margin-bottom: 15px;
  }

  .downloadIco {
    width: 0px;
    height: auto;
    transition: all .3s ease;
  }

  .trigger-hover:hover .downloadIco {
    width: 13px;
    margin-left: 8px;
  }
  .trigger-hover.ico-align-middle:hover .downloadIco {
    width: 13px;
    margin-left: 8px;
    vertical-align: middle;
  }

#save-png {
    border: 2px solid #00a9a8;
    background-color: transparent;
    transition: all .3s ease;
    padding: 10px 25px;
    color: #00a9a8;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-size: 15px;
}
#save-png:hover {
  color: #fff;
  background-color: #00a9a8;
}

button:focus {
  outline: none !important;
}





#save-jpeg {
  border: 2px solid #00a9a8;
  background-color: #00a9a8;
  transition: all .3s ease;
  padding: 10px 25px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 15px;
}
#save-jpeg:hover {
  background-color: #fff;
  color: #00a9a8;
}


#save-svg {
  border: 2px solid #00a9a8;
    background-color: transparent;
    transition: all .3s ease;
    padding: 10px 25px;
    color: #00a9a8;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-size: 15px;
}


#undo {
  border: 2px solid #00a9a8;
  background-color: #00a9a8;
  transition: all .3s ease;
  padding: 10px 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

#clear {
  border: 2px solid #00a9a8;
  background-color: #fff;
  transition: all .3s ease;
  padding: 10px 20px;
  color: #00a9a8;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}
#clear:hover {
  background-color: #00a9a8;
  color: #fff;
}

.button-wrapper {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .trigger-hover {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  #telecharger , #imprimer{
    display: table !important;
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  #telecharger  , #imprimer{
    font-size: 13px !important;
  }
}

#telecharger {
  border: 2px solid #00a9a8;
  background-color: #00a9a8;
  transition: all .3s ease;
  padding: 10px 45px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 15px;
}


#imprimer {
  border: 2px solid #00a9a8;
  background-color: #00a9a8;
  transition: all .3s ease;
  padding: 10px 45px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 15px;
}

#lightbox-cgu {
  display: none;
}
#lightbox-cgu.featherlight-inner {
  display: block;
}

.list-cgu li {
  margin-bottom: 5px;
}

.t-color-00a9a8 {
  color: #00a9a8;
}
.bold {
  font-weight: bold;
}

.text-deco-none {
  text-decoration: none;
}

.featherlight .featherlight-close-icon {
  font-size: 20px;
  color: #00a9a8 !important;
  top: 10px !important;
  right: 10px !important;
}

/*** VAL ***/
html, body{
  margin:0 auto;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

*{
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.intro-texte{
  color: #707070;
  font-weight: 400;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}


/** ATTESTATION CANVAS **/
#attestation{
  padding: 50px; 
  margin-top: -70px;
  margin-bottom: 50px;
  max-width: 900px;
  background-color: #fff;
  box-shadow: 0px 6px 55px 12px rgba(2, 2, 2, 0.11)
}


.header-attestation{
  padding-bottom: 50px;
  padding-top: 15px;
  text-align: center;
}


.input-date{
  border-bottom: 1px dashed #727577;
  border-left: none!important;
  border-right: none!important;
  border-top: none!important;
  width: 100%;
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 5px;
}

.input-texte{
  border-bottom: 1px dashed #727577;
  border-left: none!important;
  border-right: none!important;
  border-top: none!important;
  width: 100%;
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 5px;
}
input:focus {
  outline: none;
}


.input label{
  min-width: 150px;
  font-weight: bold;
}
.input-label::placeholder {
  color: #939393 !important;
}

.container-signature{
  display: flex; 
  align-items: center;
}

.input-check {
  display: flex;
  margin-top: 30px;
}

.input-check .checkbox-custom {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: none!important;
}

.input-check .checkbox-custom:after {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 2px;
}

.input-check .checkbox-custom[type=radio]:before {
  background: black url("./assets/img/check.png");
  background-size: 10px 8px;
  background-repeat: no-repeat;
  background-position: 3px 4px;
  position: absolute;
  left: 2px;
  z-index: 2;
  opacity: 0;
  width: 16px;
  height:16px;
  color: #f6ac4f;
}


.input-check .checkbox-custom[type=radio]:checked:before {
  content: '';
  position: absolute;
  top: 0px;
  opacity: 1;
  left: 0px;
  border: 1px solid black;
  border-radius: 2px;
}

.input-mail{
  padding: 15px;
  border: 1px solid grey;
  width: 350px;
}

#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80;
}
.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid #00A9A8;
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.input-submit{
  padding: 15px;
  width: 350px;
  color: white;
  text-align: center;
  background-color: #00A9A8;
  border: none!important;
  margin-top: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-submit:disabled{
  opacity: 0.1;
}


footer a{
  color: #00A9A8!important;
  text-decoration: none!important;
  font-weight: 500;
}

footer{
  font-size: 13px;
  margin-top: 50px;
}


.mt-50{margin-top: 50px;}
.mb-50{margin-bottom: 50px;}

.m-none{margin: 0;}

.super-bold{font-weight: 700!important;}

#fait-a {
  margin-bottom: 0px !important;
  padding-bottom: 3px;
}

@media screen and (max-width: 768px) {
  #attestation{
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    font-size: 12px!important;

  }

  .header-attestation{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .fait-a{
    margin-top: 15px;
  }

  .input-resp{
    padding-left: 25px;
    padding-right: 25px;
  }

  .input-resp input{
    width: 100%;
  }

  .container-signature{
    flex-direction: column;
  }

  .wrapper{
    width: 100%;
    height: 100px;
  }

  .signature-pad{
    width: 100%;
    height: 100px;
  }

  .button-wrapper{
    display: flex;
  }

  .input label{
    min-width: 90px;
  }
}











/* Refacto */
body {
  overflow-x: hidden;
}

.topbar {
  position: absolute;
  top: 0;
  background-color: #fff;
  height: 65px;
  width: 100%;
}
.topbar > p {
  font-weight: 300 !important;
  margin-top: 21px;
  font-size: 13px !important;
  color: #00a9a8;
}

.actus:before {
  content: '';
  width: 75px;
  height: 50px;
  background-image: url(assets/img/quotes.jpg);
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.after-triangle:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 252px 0;
  border-color: transparent #00a9a8 transparent transparent;
  position: relative;
  top: 100%;
  left: 0;
  z-index: -1;
}

.actus {
  text-align: center;
  border: 1px dashed #fff;
  max-width: 1100px;
  margin: auto;
  padding: 15px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #fff;
  z-index: 9;
  position: relative;
}
.actus:after {
  z-index: 1;
  content: 'ACTUS';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.2);
  font-size: 105px;
  font-weight: bold;
}
.date {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}
.actus-content {
  max-width: 800px;
  margin: 0px auto 10px auto;
  font-size: 18px;
}

.main-content {
  font-size: 40px;
  max-width: 1100px;
  margin: auto;
}

.main-title {
  font-size: 45px;
  max-width: 1100px;
  margin: auto;
}

.text-light-intro {
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.5px;
}


.title-attestation {
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #111111;
}

.bad-text {
  font-size: 17px;
  color: #111111;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 750px;
  margin-left: auto;
  margin-bottom: auto;
}

.input {
  max-width: 700px;
  margin: auto;
}

.signez {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.34;
}
#signature-pad {
  border: dashed 1px #727577;
}

#email {
  border: 1px dashed #00a9a8 !important;
}



.bck-green {
  background-color: #00a9a8;
}
.w-100p {
  width: 100%;
}
.t-color-ffffff > h1, .t-color-ffffff > h2, .t-color-ffffff > h3, .t-color-ffffff > p  {
  color: #fff;
}
.upper {
  text-transform: uppercase;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.m-w-1100px {
  max-width: 1100px;
}
.m-auto {
  margin: auto;
}
.mb-60 {
  margin-bottom: 60px;
}
.pb-12 {
  padding-bottom: 12px;
}
.mw-m-auto {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}






@media screen and (max-width: 1082px) {
  body {
    padding-top: 75px;
  }
}
@media screen and (max-width: 593px) {
  body {
    padding-top: 100px;
  }
}
@media screen and (max-width: 500px) {
  .main-title {
    font-size: 23px;
  }
  .actus:after {
    font-size: 80px;
  }
  .title-attestation {
    font-size: 25px;
  }
  .text-light-intro {
    font-size: 17px;
  }
  .after-triangle {
    height: 73px !important;
  }
  .header-attestation {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .bad-text {
    font-size: 15px;
  }
  .input-resp {
    padding-top : 15px !important;
  }
  .signez {
    font-size: 11px;
  }
}
@media screen and (max-width: 425px) {
  .button-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 413px) {
  body {
    padding-top: 115px;
  }
}
@media screen and (max-width: 344px) {
  body {
    padding-top: 130px;
  }
}

@media print{
  .bck-green, .topbar, .input-resp, footer, .button-wrapper, h1, .signez, #lightbox-cgu{
    display: none!important;
  }

  .header-attestation{
    padding-bottom: 30px;
  }

  .title-attestation{
    font-size: 20px;
  }

  .input-texte{
    border-bottom: 0px;
  }

  body{zoom: 0.76;}

  #attestation{
    padding: 0px;
    padding-top: 50px;
    box-shadow: none!important;
    margin-bottom: 0px;
  }

  #signature-pad{
    border:none!important;
  }

  .checkbox-custom{
    -webkit-appearance: checkbox!important;
    -moz-appearance: checkbox!important;
    appearance: inherit!important;
    border: none!important;
  }

  .checkbox-custom::after{
    content:''!important;
    display: none!important;
  }

  .checkbox-custom::before{
    content:''!important;
    display: none!important;
  }

}