.wrapper {
    position: relative;
    width: 350px;
    height: 170px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 20px;
  margin-left: 0px!important;
  margin-top: 0px!important;

  }
  
  .signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width: 350px;
    height: 170px;
    background-color: white;
    border: 1px solid black;
  }


html, body{
    margin:0 auto;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat';
}

  /* Buttons */

  .trigger-hover {
    margin-bottom: 15px;
  }

  .downloadIco {
    width: 0px;
    height: auto;
    transition: all .3s ease;
  }

  .trigger-hover:hover .downloadIco {
    width: 13px;
    margin-left: 8px;
  }
  .trigger-hover.ico-align-middle:hover .downloadIco {
    width: 13px;
    margin-left: 8px;
    vertical-align: middle;
  }

#save-png {
    border: 2px solid #00a9a8;
    background-color: transparent;
    transition: all .3s ease;
    padding: 10px 25px;
    color: #00a9a8;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-size: 15px;
}
#save-png:hover {
  color: #fff;
  background-color: #00a9a8;
}

button:focus {
  outline: none !important;
}





#save-jpeg {
  border: 2px solid #00a9a8;
  background-color: #00a9a8;
  transition: all .3s ease;
  padding: 10px 25px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 15px;
}
#save-jpeg:hover {
  background-color: #fff;
  color: #00a9a8;
}


#save-svg {
  border: 2px solid #00a9a8;
    background-color: transparent;
    transition: all .3s ease;
    padding: 10px 25px;
    color: #00a9a8;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-size: 15px;
}


#undo {
  border: 2px solid #00a9a8;
  background-color: #00a9a8;
  transition: all .3s ease;
  padding: 10px 25px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 15px;
}

#clear {
  border: 2px solid #dc3545;
  background-color: #dc3545;
  transition: all .3s ease;
  padding: 10px 25px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 15px;
}
#clear:hover {
  background-color: #fff;
  color: #dc3545;
}

.button-wrapper {
  width: 100%;
}

@media screen and (max-width: 550px) {
  .trigger-hover {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}


/*** VAL ***/
html, body{
  margin:0 auto;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

*{
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.intro-texte{
  color: #707070;
  font-weight: 400;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}


/** ATTESTATION CANVAS **/
#attestation{
  padding: 50px; 
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 780px;
}


.header-attestation{
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}

.input-texte{
  border-bottom: 1px dashed black;
  border-left: none!important;
  border-right: none!important;
  border-top: none!important;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}


.input label{
  min-width: 150px;
  font-weight: bold;
}

.container-signature{
  display: flex; 
  align-items: center;
}

.input-check {
  display: flex;
  margin-top: 30px;
}

.input-check .checkbox-custom {
  min-width: 50px;
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

.input-check .checkbox-custom:after {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 2px;
}

.input-check .checkbox-custom[type=radio]:before {
  background: black url("./assets/img/check.png");
  background-size: 10px 8px;
  background-repeat: no-repeat;
  background-position: 3px 4px;
  position: absolute;
  left: 2px;
  z-index: 2;
  opacity: 0;
  width: 16px;
  height:16px;
  color: #f6ac4f;
}

.input-check .checkbox-custom[type=radio]:checked:before {
  content: '';
  position: absolute;
  top: 0px;
  opacity: 1;
  left: 0px;
  border: 1px solid black;
  border-radius: 2px;
}

.input-mail{
  padding: 15px;
  border: 1px solid grey;
  width: 350px;
}

#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80;
}
.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid #00A9A8;
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.input-submit{
  padding: 15px;
  width: 350px;
  color: white;
  text-align: center;
  background-color: #00A9A8;
  border: none!important;
  margin-top: 10px;
  cursor: pointer;
}

.input-submit:disabled{
  opacity: 0.1;
}


footer a{
  color: #00A9A8!important;
  text-decoration: none!important;
  font-weight: 500;
}

footer{
  font-size: 13px;
  margin-top: 50px;
}


.mt-50{margin-top: 50px;}
.mb-50{margin-bottom: 50px;}

.m-none{margin: 0;}

.super-bold{font-weight: 700!important;}


@media screen and (max-width: 768px) {
  #attestation{
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    font-size: 12px!important;

  }

  .header-attestation{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .fait-a{
    margin-top: 15px;
  }

  .input-resp{
    padding-left: 25px;
    padding-right: 25px;
  }

  .input-resp input{
    width: 100%;
  }

  .container-signature{
    flex-direction: column;
  }

  .wrapper{
    width: 100%;
    height: 100px;
  }

  .signature-pad{
    width: 100%;
    height: 100px;
  }

  .button-wrapper{
    display: flex;
  }

  .input label{
    min-width: 90px;
  }
}